.DocumentList__table {
    margin-left: 15px;
    margin-right: 15px;
}

.DocumentList__text {
    color: var(--FontColorDefaultBlack);
}

.DocumentList__body {
    background-color: var(--MediumGreyColor);
}

.DocumentList__disabled {
    display: none;
}

.DocumentList__arrow {
    width: 22px;
}

.DocumentList__mail {
    width: 22px;
}

.DocumentList__buttons__fild {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
}

.DocumentList__button {
    border-radius:18px;
    padding: 5px 5px 7px 5px;
}