.WindowTitle {
    width: auto;    
    border-radius: 2px 2px 0px 0px;
    padding: 20px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
}

.WindowTitle--light .WindowTitle__title {
    font-weight: bolder;
    margin-left: 15px;
    color: var(--FontColorDefaultBlack); 
}

.WindowTitle--Dark {
    background-color: rgb(70, 70, 70);
}

.WindowTitle--Dark .WindowTitle__title {
    font-weight: bolder;
    margin-left: 15px;
    color: var(--FontColorDefault); 
}

.WindowTitle__children {
    margin-right: 5px;
}