.MessageSender__labelField {
    margin-left: 15px;
    margin-top: 20px;
}

.MessageSender__labels {
    color: var(--FontColorDefaultBlack);
    margin-right: 20px;
    font-size: 14px;
}

.MessageSender__sendFild {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    margin-right: 40px;
}

.MessageSender__sender {
    margin-top: -60px;
    margin-bottom: -25px;
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-left: solid 1.5px rgb(212, 212, 212);
}

.MessageSender__message {
    margin-left: 15px;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 14px;
}

.Button--Message {
    padding: 10px;
    font-weight: bolder;
}