.StatusBlockSmall {
    width: 330px;
    background-color: rgb(174, 240, 107);
    color: var(--FontColorGrey);
    padding: 4px;
    height: 100px;
}

.StatusBlockSmall__state {
    font-weight: bolder;
    margin-bottom: -2px;
}