.ProcessManager__processes__header {
    display: flex;
    justify-content: space-between;
    margin: 40px 20px 0px 20px;
}

.ProcessManager__section__title {
    font-weight: bold;
    color: var(--FontColorGrey);
}