:root {
    --LightColor: rgb(233, 236, 232);
    --GreyColor: rgb(212, 212, 212);
    --FluorescentColor: rgb(132, 235, 73);
    --LightGreyColor: rgb(226, 226, 226);
    --MediumGreyColor: rgb(223, 223, 223); 
    --DarkGreyColor:  rgb(141, 141, 141);
    --ErrorColor: rgb(233, 42, 42);
    --FontColorDefault:  rgb(255, 255, 255);
    --FontColorGrey: rgb(114, 114, 114);
    --FontColorDefaultBlack: rgb(105, 105, 105);
    --FontColorDefaultBlackHover: rgb(134, 134, 134);;
}

body {
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(45, 47, 49);
    font-size: 15px;
  }
  
code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (min-width: 1300px) {
    .MainWindow {
        width: 1200px;
    }
}

@media (max-width: 1300px) {
    .MainWindow {
      width: 1000px;
    }
}

@media (max-width: 1200px) {
    .MainWindow {
      width: 800px;
    }
}

@media (max-width: 900px) {
    .MainWindow {
        width: 600px;
    }
}

.Window {
    background-color:  var(--LightColor);   
    border-radius: 3px;
    min-height: 300px; 
    box-shadow: 6px 6px 10px 1px rgb(24, 24, 24);
    margin-bottom:30px;
    padding-bottom: 20px;
}

hr {
    border: solid 1px rgb(177, 175, 175);
    margin: 10px 15px 20px 15px;
}

select{
    background-color: rgb(224, 230, 228);
    border-radius: 3px;
    border: 1px solid rgb(185, 184, 184);
    padding: 1px;
    color: rgb(70, 70, 70);
    font-size: 13px;
}

input[type = text] {
    margin-bottom: 15px;
    margin-right: 10px;
    background-color: rgb(224, 230, 228);
    color: rgb(70, 70, 70);
    border: 1px solid rgb(185, 184, 184);    
    border-radius: 3px;
    font-size: 13px;
}

input[type = text]:focus {
    outline: none;
}

input[type = password] {
    margin-bottom: 15px;
    margin-right: 10px;
    background-color: rgb(224, 230, 228);
    color: rgb(70, 70, 70);
    border: 1px solid rgb(185, 184, 184);
    border-radius: 3px;
    font-size: 13px;
}

textarea {
    resize: none;
    margin-bottom: 15px;
    margin-right: 10px;
    background-color: rgb(224, 230, 228);
    color: rgb(70, 70, 70);
    border: 1px solid rgb(185, 184, 184);
    border-radius: 3px;
    font-size: 13px;
    width: 400px;
    height: 150px;
}

.Form {
    font-size: 13px;
}

.Form div {
    margin-left: 15px;
    margin-bottom: 10px;
}

.Form input[type=text] {
    width: 400px;
}

.Form select {
    margin-bottom: 10px;
}

.Form textarea {
    display:block;
    margin-left: 20px;
}

.Form__textareaDiv {
    display: flex;
}

.Form label {
    margin-right: 10px;
}

.Link--default {
    text-decoration: none;
}

.Button--green {
    padding: 5px;
    background-color: rgb(131, 185, 43);
    border: 0px;
    border-radius: 3px;
    color: rgb(253, 253, 253);
    font-size: 12.5px;  
    margin: 10px;
    width:fit-content;
    height: fit-content;
    text-decoration: none;
}

.Button--green:hover {
    background-color: rgb(156, 221, 52);
    cursor: pointer;
}

.Button--red {
    padding: 5px;
    background-color: rgb(211, 58, 58);
    border: 0px;
    border-radius: 3px;
    color: rgb(253, 253, 253);
    font-size: 12.5px;  
    margin: 10px;
    width:fit-content;
    height: fit-content;
    text-decoration: none;
}

.Button--red:hover {
    background-color: rgb(241, 36, 36);
    cursor:pointer;
}

.Button--yellow {
    padding: 5px;
    background-color: rgb(202, 191, 30);
    border: 0px;
    border-radius: 3px;
    color: rgb(253, 253, 253);
    margin: 10px;
    width:fit-content;
    height: fit-content;  
}

.Button--yellow:hover {
    background-color: rgb(224, 222, 72);
    cursor: pointer;
}

.Button--disabled {
    padding: 5px;
    background-color: rgb(160, 160, 160);
    border: 0px;
    border-radius: 3px;
    color: rgb(253, 253, 253);
    font-size: 12.5px;  
    margin: 10px;
    width:fit-content;
    height: fit-content;
    text-decoration: none;
}

.Title__date {
    color: var(--FontColorDefaultBlackHover);
    font-size: 11.5px;
}