.Login {
    background-color:  var(--LightColor);    
    color: rgb(105, 105, 105);
    border-radius: 2px;
    min-height: 200px; 
    box-shadow: 6px 6px 10px 1px rgb(24, 24, 24);
    padding-bottom: 15px;
}

@media (min-width: 1200px) {
    .Login--size {
      width: 520px;
    }
  }

.Login__error {
    color: var(--FontColorDefaultBlack);
    display: flex;
    font-size: 14.5px;
}

.Login__header h4 {
    font-weight: bolder;
}

.Login__fields {
    margin-left: 15px;    
}

.Login label {
    margin-right: 20px;
}

.Login__button {
    margin-left: 30px;
    padding: 3px 5px;
}