.UploadFiles {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.UploadFiles__input {
    display: none;
}

.UploadFiles__span {
    border: 1px solid var(--InputBorder);
    background-color: var(--InputBackground);
    min-width: 250px;
    padding: 4px 4px 20px 4px;
    height: 21px;
    font-size: 12px;
    color: var(--FontColorGrey);
}

.UploadFiles__message {
    margin-left: 15px;
    font-size: 14px;
}